<div class="main-admin-container">
  <div class="admin-image-container">
    <img src="https://user-images.githubusercontent.com/60928490/93268900-9fa65800-f773-11ea-9f44-eaccd297c749.png" alt="">
  </div>
  <div class="admin-options-container">
    <div class="users-content" [routerLink]="['/admin/users']">
      <p>Usuarios</p>
      <img src="https://user-images.githubusercontent.com/60928490/93283603-79de7a80-f796-11ea-8c16-2281b6fd01ee.png" alt="">
    </div>
    <div class="products-content" [routerLink]="['/admin/products']">
      <p>Productos</p>
      <img src="https://user-images.githubusercontent.com/60928490/93283602-79de7a80-f796-11ea-96cf-f36e7367103c.png" alt="">
    </div>
    <div class="orders-content" [routerLink]="['/admin/orders']">
      <p>Órdenes</p>
      <img src="https://user-images.githubusercontent.com/60928490/93283598-7814b700-f796-11ea-9c07-4568afd57636.png" alt="">
    </div>
  </div>
</div>
