<div class="header-admin-container">
  <div class="header-admin-image-container">
    <img src="https://user-images.githubusercontent.com/60928490/93268900-9fa65800-f773-11ea-9f44-eaccd297c749.png" alt="">
  </div>
  <div class="options-header-container">
    <p [routerLink]="['/admin/users']">USUARIOS</p>
    <P [routerLink]="['/admin/products']">PRODUCTOS</P>
    <p [routerLink]="['/admin/orders']">ÓRDENES</p>
    <img src="https://user-images.githubusercontent.com/60928490/93312591-03a93a80-f7cd-11ea-942d-3d0270cdfafd.png" alt="">
  </div>
</div>
