<div class="auth-container">
  <div class="image-container">
    <img src="https://user-images.githubusercontent.com/60928490/93268900-9fa65800-f773-11ea-9f44-eaccd297c749.png" alt="">
  </div>
  <div class="form-container">
    <form action="">
      <p class="title-login">Log In</p>
      <div class="email-container">
        <p>Email:</p>
        <input type="email">
      </div>
      <div class="password-container">
        <p>Password:</p>
        <input type="password">
      </div>
      <button type="button" [routerLink]="['/admin-main']">LOGIN</button>
      <div class="message-container">
        <p>If you don't have an account to log in, please ask an administrator to register it.</p>
      </div>

    </form>
  </div>
</div>
