<div class="containerOptionOrders">
  <div class="containerButton">
    <div class="contentButtonDesayuno">
      <p class="titleButton">Desayuno</p>
      <img class="imgButton" src="../../../assets/images/tasaDesayuno.png" alt="">
    </div>
    <div class="contentImgLogo">
      <img class="imgLogo" src="../../../assets/images/logoBq.png" alt="">
    </div>
    <div class="contentButtonAlmuerzo">
      <p class="titleButton">Almuerzo</p>
      <img class="imgButton" src="../../../assets/images/hamburguesa.png" alt="">
    </div>
  </div>
  <div class="contentOrders">
    <div class="listProduct">
      <p>Café <br> Americano</p>
      <div class="containerImgDetails">
        <img class="imgDetails" src="../../../assets/images/tasaDesayuno.png" alt="">
      </div>
      <p>5.00</p>
    </div>
    <div class="detailsOrders">
      <div class="client">
        <p>Cliente: </p>
        <h3 class="containerName"> Maria </h3>
      </div>
      <div class="containerOrder">
        <div class="orders">
          <p>Café Americano</p>
          <img class="imgQuantity" src="../../../assets/images/menos.png" alt="">
          <p>1</p>
          <img class="imgQuantity" src="../../../assets/images/mas.png" alt="">
          <p>5.00</p>
          <img class="imgQuantity" src="../../../assets/images/delete.png" alt="">
        </div>
      </div>
      <div class="containerTotal">
        <div>
          <img class="imgLine" src="../../../assets/images/line.png" alt="">
        </div>
        <div class="totalPrice">
          <p>TOTAL: </p>
          <p>5.00</p>
        </div>
        <div >
          <button class="btnEnviar titleButton"> Enviar Orden</button>
        </div>
      </div>
    </div>
  </div>
</div>
